<footer class="footer">
    <div class="footer__container container-xxl">
        <ul class="footer__navbar">
            <li class="footer__nav-item">
                <a href="{{ path('app_terms_of_service') }}" class="footer__nav-link">Terms Of Service</a>
            </li>
        </ul>
        <div class="footer__brand">
            <div class="footer__brand-logo">{{ include('svg/polly_icon.svg.twig') }}</div>
            <div class="footer__brand-info">POLLY<small class="footer__brand-info-secondary">since 2025</small></div>
        </div>
    </div>
</footer>
