<footer class="footer text-bg-light">
    <div class="footer__container container-xxl">
        <ul class="footer__navbar navbar navbar-nav flex-sm-row">
            <li class="nav-item">
                <a href="{{ path('app_terms_of_service') }}" class="footer__nav-link nav-link">Terms Of Service</a>
            </li>
        </ul>
        <div class="footer__brand user-select-none">
            <div class="footer__brand-logo">{{ include('svg/polly_icon.svg.twig') }}</div>
            <div class="footer__brand-info font-ibm-plex-mono">POLLY<small class="footer__brand-info-secondary font-ibm-plex-sans">since 2025</small></div>
        </div>
    </div>
</footer>
