<header>
    <nav class="navbar navbar-expand-md fixed-top bg-body-tertiary" data-bs-theme="light">
        <div class="container-xxl">
            <a class="navbar__brand navbar-brand font-ibm-plex-mono" href="{{ path('app_homepage') }}">
                <span class="navbar__brand-letter">P</span>
                <span class="navbar__brand-letter">O</span>
                <span class="navbar__brand-letter">L</span>
                <span class="navbar__brand-letter">L</span>
                <span class="navbar__brand-letter">Y</span>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_homepage') }}">Home</a>
                    </li>
                </ul>

                <a class="navbar__sign-up btn btn-outline-success btn-sm" href="{{ path('app_register') }}">Sign up</a>
            </div>
        </div>
    </nav>
</header>
