{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Account{% endblock %}

{% block body %}
    <div class="container py-5">
        <a href="{{ path(constant('App\\Controller\\AccountController::ROUTE_PASSWORD_CHANGE')) }}" class="link-primary">Change password</a>
    </div>
{% endblock %}
