{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Terms of Service{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h3 mb-3">Terms of Service</h1>
        <p>...</p>
    </div>
{% endblock %}
