{% extends 'base.html.twig' %}

{% block title %}{{ 'main.terms_of_service.title'|trans(domain='sites') }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h3 mb-3">{{ 'main.terms_of_service.heading'|trans(domain='sites') }}</h1>
        <p>...</p>
    </div>
{% endblock %}
