/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ibm_plex_mono/ibm-plex-mono-v19-latin-regular.woff2") format("woff2");
}

/* ibm-plex-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/ibm_plex_mono/ibm-plex-mono-v19-latin-600.woff2") format("woff2");
}

.font-ibm-plex-mono {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
}
