.footer {
    @extend .text-bg-light;
    font-size: 0.875rem;
    padding: 1rem 0;
    margin-top: auto;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    &__navbar {
        @extend .navbar;
        @extend .navbar-nav;
        @extend .flex-sm-row;
        align-items: flex-start;
    }

    &__nav {
        &-item {
            @extend .nav-item;
        }

        &-link {
            @extend .nav-link;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    &__brand {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        user-select: none;
        margin-left: 2rem;

        &-logo {
            display: flex;
            align-items: center;
            max-width: 2.25rem;
            max-height: 2.25rem;
        }

        &-info {
            @extend .font-ibm-plex-mono;

            &-secondary {
                @extend .font-ibm-plex-sans;
                display: block;
                line-height: 0.8;
            }
        }
    }
}
