.footer {
    font-size: 0.875rem;
    padding: 1rem 0;
    margin-top: auto;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    &__navbar {
        align-items: flex-start;
    }

    &__nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &__brand {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-left: 2rem;
    }

    &__brand-logo {
        display: flex;
        align-items: center;
        max-width: 2.25rem;
        max-height: 2.25rem;
    }

    &__brand-info-secondary {
        display: block;
        line-height: 0.8;
    }
}
