@import "./fonts/ibm_plex_sans";
@import "./fonts/ibm_plex_mono";
@import "./abstracts";
@import "./vendors/bootstrap";
@import "./layout/header";
@import "./layout/footer";

body {
    padding-top: 62px;
}

label.required:after {
    content: " (required)";
    color: lightcoral;
    font-size: 0.85rem;
}
