{% extends 'email/layout.html.twig' %}

{% block body %}
    <p>
        Please confirm your email address by clicking the following link:<br>
        <a href="{{ signedUrl|raw }}">Confirm My Email</a>.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>If the link has expired, please go through the sign in process to access the form that allow to resend the confirmation link.</p>

    <p>
        If the link above doesn't work, copy and paste this link into your browser:<br>
        {{ signedUrl|raw }}
    </p>
{% endblock %}

{% block closing %}
    <p>Thank you. Enjoy using the app.</p>
{% endblock %}
