{% extends 'email/layout.html.twig' %}

{% block body %}
    {% set passwordResetUrl = url(constant('App\\Controller\\Auth\\PasswordResetController::ROUTE_RESET'), {token: resetToken.token}) %}

    <p>
        To reset your password, please click the following link:<br>
        <a href="{{ passwordResetUrl }}">Password Reset</a>.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>

    <p>
        If the link above doesn't work, copy and paste this link into your browser:<br>
        {{ passwordResetUrl }}
    </p>
{% endblock %}
