{% set passwordResetRouteName = constant('App\\Controller\\Auth\\PasswordResetController::ROUTE_RESET') %}

<h1>Hello,</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url(passwordResetRouteName, {token: resetToken.token}) }}">{{ url(passwordResetRouteName, {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Thank you.</p>

<p><small>This message was sent automatically. Please do not reply to it.</small></p>
