<html>
    <head></head>
    <body>
        {% block greeting %}
            <h1>Hello,</h1>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block closing %}
            <p>Thank you.</p>
        {% endblock %}

        {% block footer %}
            <p><small>This message was sent automatically. Please do not reply to it.</small></p>
        {% endblock %}
    </body>
</html>
