{% trans_default_domain 'emails' %}

<html>
    <head></head>
    <body>
        {% block greeting %}
            <h1>{{ 'layout.greeting'|trans }}</h1>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block closing %}
            <p>{{ 'layout.closing'|trans }}</p>
        {% endblock %}

        {% block footer %}
            <p><small>{{ 'layout.footer'|trans }}</small></p>
        {% endblock %}
    </body>
</html>
